.ser_a .wrap {
  padding-bottom: 90px;
}
.ser_a .div_1 {
  padding-top: 15px;
  padding-bottom: 50px;
  border-bottom: 1px solid #eef3f8;
}
.ser_a .div_1 .tpbox {
  margin-bottom: 20px;
}
.ser_a .div_1 .tpbox .divtl {
  float: left;
  margin-top: 9px;
}
.ser_a .div_1 .tpbox .btnbox {
  float: right;
}
.ser_a .div_1 .tpbox .btnbox .btn {
  float: left;
  height: 42px;
  line-height: 42px;
  font-size: 16px;
  color: #ffffff;
  padding: 0 12px;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  background: #008aea;
  cursor: pointer;
}
.ser_a .div_1 .tpbox .btnbox .btn img {
  margin-left: 10px;
  position: relative;
  top: -2px;
}
.ser_a .div_1 .tpbox .btnbox .sq {
  margin-right: 10px;
}
.ser_a .div_1 .imgbox1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 32px;
}
.ser_a .div_1 .imgbox1 .img {
  width: 48.7805%;
}
.ser_a .div_1 .imgbox1 .img img {
  width: 100%;
}
.ser_a .div_1 .thistlbox {
  margin-bottom: 25px;
}
.ser_a .div_1 .infotext {
  padding-left: 20px;
  line-height: 24px;
  color: #666666;
}
.ser_a .div_1 .thisimg1 img {
  width: 100%;
}
.ser_a .imgfull img {
  width: 100%;
}
.ser_a .pdfll {
  padding-left: 20px;
}
.ser_a .bk {
  margin-bottom: 30px;
  padding-top: 0;
}
.ser_a .bk .smallyl {
  height: 45px;
  background-color: #dde9f4;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  line-height: 45px;
  padding: 0 20px;
  font-size: 16px;
  margin-bottom: 30px;
}
.ser_a .div_2 {
  border-bottom: 1px solid #eef3f8;
}
.ser_a .div_2 .bk {
  padding-top: 0;
}
.ser_a .div_2 .thistlbox {
  margin: 50px 0 30px;
}
.ser_a .div_3 {
  border-bottom: 1px solid #eef3f8;
}
.ser_a .div_3 .thistlbox {
  margin: 50px 0;
}
.ser_a .div_4 {
  border-bottom: 1px solid #eef3f8;
}
.ser_a .div_4 .thistlbox {
  margin: 50px 0;
}
.ser_a .div_5 {
  border-bottom: 1px solid #eef3f8;
}
.ser_a .div_5 .thistlbox {
  margin: 50px 0;
}
.ser_a .div_6 {
  border-bottom: 1px solid #eef3f8;
}
.ser_a .div_6 .thistlbox {
  margin: 50px 0;
}
.ser_b .wrap {
  padding-bottom: 100px;
}
.ser_b .div_1 {
  padding-top: 20px;
}
.ser_b .div_1 .serlist {
  margin-bottom: 30px;
}
.ser_b .div_1 .serlist .serli {
  float: left;
  width: 31.9018%;
  margin: 2.1473% 2.1473% 0 0;
  border: solid 1px #eeeeee;
  padding: 24px;
  height: 260px;
}
.ser_b .div_1 .serlist .serli .imgbox {
  margin-bottom: 15px;
}
.ser_b .div_1 .serlist .serli .title {
  font-size: 16px;
  color: #333333;
  margin-bottom: 15px;
}
.ser_b .div_1 .serlist .serli .text {
  line-height: 24px;
  color: #666666;
}
.ser_b .div_1 .serlist .serli .text span {
  font-size: 12px;
  color: #999;
}
.ser_b .div_1 .serlist .serli:nth-child(1),
.ser_b .div_1 .serlist .serli:nth-child(2),
.ser_b .div_1 .serlist .serli:nth-child(3) {
  margin-top: 0;
}
.ser_b .div_1 .serlist .serli:nth-child(3n) {
  margin-right: 0;
}
.ser_b .div_1 .show {
  width: 100%;
  height: 70px;
  line-height: 70px;
  text-align: center;
  font-size: 18px;
  color: #ffffff;
  background-color: #00a4e8;
}
.ser_b .div_1 .prolist2 .proli {
  float: left;
  width: 31.9018%;
  margin: 2.1473% 2.1473% 0 0;
  height: 80px;
  line-height: 80px;
  text-align: center;
  background-color: #dde9f4;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  -moz-transition: all .4s;
  transition: all .4s;
  color: #666666;
  font-size: 18px;
}
.ser_b .div_1 .prolist2 .proli:hover {
  background-color: #aacceb;
}
.ser_b .div_1 .prolist2 .proli:nth-child(1),
.ser_b .div_1 .prolist2 .proli:nth-child(2),
.ser_b .div_1 .prolist2 .proli:nth-child(3) {
  margin-top: 0;
}
.ser_b .div_1 .prolist2 .proli:nth-child(3n) {
  margin-right: 0;
}
.ser_c .div_1 {
  padding-bottom: 225px;
}
.ser_c .serlist2 .serli {
  width: 23.9263%;
  float: left;
  height: 195px;
  margin-right: 1.4316%;
  border: solid 1px #eeeeee;
  text-align: center;
  padding-top: 30px;
}
.ser_c .serlist2 .serli .imgbox {
  margin-bottom: 16px;
}
.ser_c .serlist2 .serli .textbox .title {
  font-size: 16px;
  color: #333333;
  margin-bottom: 30px;
}
.ser_c .serlist2 .serli .textbox .line {
  width: 20px;
  height: 2px;
  background: #272c31;
  margin: 0 auto;
}
.ser_c .serlist2 .serli:nth-child(4n) {
  margin-right: 0;
}
.ser_d .wrap {
  padding-bottom: 100px;
}
.ser_d .div_1 {
  padding-top: 20px;
}
.ser_d .div_1 .bk .table {
  position: relative;
}
.ser_d .div_1 .bk .table .left {
  float: left;
  width: 230px;
  border: solid 1px #e5eef6;
}
.ser_d .div_1 .bk .table .left .td {
  line-height: 130px;
  padding-left: 85px;
  font-size: 18px;
  color: #333333;
  background-color: #dde9f4;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  -moz-transition: all .4s;
  transition: all .4s;
  cursor: pointer;
}
.ser_d .div_1 .bk .table .left .acttd {
  background-color: #00a4e8;
  color: #fff;
}
.ser_d .div_1 .bk .table .rt {
  width: -webkit-calc(100% - 230px);
  width: -moz-calc(100% - 230px);
  width: calc(100% - 230px);
  min-height: 392px;
  float: left;
  background-color: #f4f9fc;
}
.ser_d .div_1 .bk .table .rt .indiv {
  padding: 20px 0 0 20px;
  display: none;
}
.ser_d .div_1 .bk .table .rt .indiv .btn {
  width: 170px;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  border: solid 1px #e5eef6;
  line-height: 35px;
  height: 35px;
  padding-left: 9px;
  margin: 0 18px 18px 0;
  float: left;
}
.ser_d .div_1 .bk .table .rt .indiv .btn span {
  font-size: 12px;
  color: #7c8b99;
}
.ser_d .div_1 .bk .table .rt .indiv:first-child {
  display: block;
}
.ser_e .wrap {
  padding-bottom: 100px;
}
.ser_e .div_1 {
  padding-top: 20px;
}
.nomb {
  margin-bottom: 0;
}
.bk {
  padding-top: 50px;
}
.bk .tl {
  font-size: 18px;
  color: #333333;
  margin-bottom: 20px;
}
.bk .text {
  color: #666666;
  font-size: 16px;
  margin-bottom: 25px;
  line-height: 24px;
}
.bk .nomb {
  margin-bottom: 0!important;
}
.bk .imgfull img {
  width: 100%;
}
.ser_f .wrap {
  padding-bottom: 100px;
}
.ser_f .div_1 .bk .partnerbox .parbox {
  width: 25%;
  float: left;
  position: relative;
}
.ser_f .div_1 .bk .partnerbox .parbox .mask {
  position: absolute;
  left: 0%;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  -moz-transition: all .4s;
  transition: all .4s;
  font-size: 18px;
  color: #666666;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  background-color: #f4f9fc;
  opacity: 0;
}
.ser_f .div_1 .bk .partnerbox .parbox .mask .title {
  width: 100%;
  margin: 0 0 8px;
  text-align: center;
}
.ser_f .div_1 .bk .partnerbox .parbox .mask .te {
  width: 100%;
  padding: 0 10px;
  font-size: 14px;
  color: #666666;
  line-height: 24px;
  text-align: center;
}
.ser_f .div_1 .bk .partnerbox .parbox:hover .mask {
  opacity: 1;
}
.ser_f .div_1 .bk .itlist .li {
  width: 24.39%;
  margin: 0 0.81333% 0.813333% 0;
  float: left;
  border: solid 1px #eeeeee;
  padding-bottom: 20px;
}
.ser_f .div_1 .bk .itlist .li .imgbox img {
  width: 100%;
}
.ser_f .div_1 .bk .itlist .li .te {
  line-height: 40px;
  text-align: center;
  font-size: 16px;
  color: #333;
}
.ser_f .div_1 .bk .itlist .li:nth-child(4n) {
  margin-right: 0;
}
.ser_f .div_1 .bk #parswiper {
  padding: 10px 0 20px;
}
.ser_f .div_1 .bk #parswiper #parSP {
  bottom: 0;
}
.ser_f .div_1 .bk #parswiper .swiper-slide:hover {
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);
     -moz-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);
}
.ser_g .wrap {
  padding-bottom: 100px;
}
.ser_g .prolist {
  margin-bottom: 20px;
}
.ser_g .prolist .proli {
  float: left;
  width: 19.5122%;
  margin-right: 0.60975%;
  background-color: #f4f9fc;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  -moz-transition: all .4s;
  transition: all .4s;
}
.ser_g .prolist .proli:nth-child(5n) {
  margin-right: 0;
  display: block;
}
.ser_g .prolist .proli:hover {
  background-color: #dde9f4;
  -webkit-box-shadow: 2px 6px 8px 1px rgba(221, 233, 244, 0.95);
     -moz-box-shadow: 2px 6px 8px 1px rgba(221, 233, 244, 0.95);
          box-shadow: 2px 6px 8px 1px rgba(221, 233, 244, 0.95);
}
.ser_g .infoimg {
  width: 100%;
  padding: 20px 72px 50px 72px;
  background-color: #f4f9fc;
}
.ser_g .infoimg .imgbox {
  margin-bottom: 20px;
}
.ser_g .infoimg .imgbox img {
  width: 100%;
}
.ser_g .infoimg .text {
  color: #666666;
  line-height: 24px;
  font-size: 16px;
}
.ser_h .div_1 {
  padding-top: 20px;
  margin-bottom: 50px;
}
.ser_h .div_1 .divtl {
  margin-bottom: 34px;
}
.ser_h .div_1 .downcenter .topimg {
  height: 40px;
  background: url(../images/cont_03.jpg) no-repeat center center;
  -webkit-background-size: cover;
     -moz-background-size: cover;
          background-size: cover;
}
.ser_h .div_1 .downcenter .downlist {
  background-color: #f4f9fc;
  padding: 0 23px;
}
.ser_h .div_1 .downcenter .downlist .downli {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0;
  border-bottom: 1px solid #dde9f4;
}
.ser_h .div_1 .downcenter .downlist .lte {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
     -moz-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  margin-right: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #595656;
  font-size: 16px;
  line-height: 24px;
}
.ser_h .div_1 .downcenter .downlist .downbtn {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
     -moz-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}
.ser_h .div_2 {
  padding-bottom: 50px;
}
.ser_h .div_2 .divtl {
  margin-bottom: 30px;
}
.ser_h .div_2 .msgbox {
  padding-left: 24px;
}
.ser_h .div_2 .left {
  width: 59.5%;
  float: left;
}
.ser_h .div_2 .left .inpbox {
  margin-bottom: 20px;
}
.ser_h .div_2 .left .inpbox .tl {
  font-size: 16px;
  color: #595656;
  margin-bottom: 10px;
}
.ser_h .div_2 .left .inpbox .tl span {
  color: #4c8efe;
}
.ser_h .div_2 .left .inpbox input {
  width: 100%;
  height: 25px;
  padding: 0 10px;
  border: solid 1px #d6d6d6;
}
.ser_h .div_2 .left .inpbox textarea {
  height: 120px;
  border: solid 1px #d6d6d6;
  line-height: 24px;
  padding: 10px;
  width: 100%;
  resize: none;
}
.ser_h .div_2 .left .inpbox1 .inp {
  float: left;
}
.ser_h .div_2 .left .inpbox1 .inp:first-child {
  width: 40%;
  margin-right: 5%;
}
.ser_h .div_2 .left .inpbox1 .inp:nth-child(2) {
  width: 55%;
}
.ser_h .div_2 .left .yzmbox {
  margin-bottom: 20px;
}
.ser_h .div_2 .left .yzmbox input {
  display: block;
  width: 87px;
  height: 25px;
  border: solid 1px #d6d6d6;
  padding: 0 10px;
  float: left;
  margin-right: 20px;
}
.ser_h .div_2 .left .yzmbox .yzmimg {
  float: left;
}
.ser_h .div_2 .left .subbtn {
  width: 150px;
  height: 50px;
  background-color: #4c8efe;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  text-align: center;
  line-height: 50px;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}
.ser_h .div_2 .rt {
  margin-top: 25px;
  width: 36.7%;
  float: right;
  height: 334px;
  background: url(../images/ser_22.jpg) no-repeat center;
  -webkit-background-size: cover;
     -moz-background-size: cover;
          background-size: cover;
}
.ser_h .div_3 {
  padding-bottom: 100px;
}
.ser_h .div_3 .divtl {
  margin-bottom: 25px;
}
.ser_h .div_3 .faqbox {
  padding-left: 24px;
}
.ser_h .div_3 .faqbox .faqli {
  border-bottom: 1px solid #dde9f4;
}
.ser_h .div_3 .faqbox .faqli .tp {
  font-size: 16px;
  position: relative;
  line-height: 40px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  white-space: nowrap;
  height: 40px;
  color: #595656;
  cursor: pointer;
}
.ser_h .div_3 .faqbox .faqli .tp .jtbox {
  position: absolute;
  right: 12px;
  top: 50%;
  margin-top: -4px;
  line-height: 0;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  -moz-transition: all .4s;
  transition: all .4s;
}
.ser_h .div_3 .faqbox .faqli .tp .jtbox img {
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  -moz-transition: all .4s;
  transition: all .4s;
}
.ser_h .div_3 .faqbox .faqli .tp .jtbox .act {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
.ser_h .div_3 .faqbox .faqli .text {
  padding: 20px 0;
  line-height: 24px;
  color: #666;
  display: none;
}
.ser_h .div_3 .faqbox .actli .tp .jtbox {
  -webkit-transform: rotate(180deg);
     -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.ser_h .div_3 .faqbox .actli .tp .jtbox .act {
  opacity: 1;
}
.ser_h .div_3 .faqbox .actli .tp .jtbox .nor {
  opacity: 0;
}
.ser_h .div_3 .faqbox .faqli:first-child .text {
  display: block;
}
.down_mask {
  left: 0;
  top: 100%;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  z-index: 999;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  -moz-transition: all .4s;
  transition: all .4s;
}
.down_mask .wrap {
  position: absolute;
  left: 50%;
  top: 60%;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  -moz-transition: all .4s;
  transition: all .4s;
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.down_mask .wrap .left {
  width: 74.271%;
  padding-right: 60px;
  position: relative;
}
.down_mask .wrap .left .closedown {
  position: absolute;
  right: 5px;
  top: 0;
  cursor: pointer;
}
.down_mask .wrap .left .tlbox {
  background: #4c8efe;
  line-height: 166px;
  font-size: 18px;
  padding-left: 60px;
  color: #ffffff;
}
.down_mask .wrap .left .outbox {
  background: #fff;
  padding: 50px 0 30px;
}
.down_mask .wrap .left .indiv {
  width: 380px;
  margin: 0 auto;
}
.down_mask .wrap .left .indiv .inpbox {
  margin-bottom: 20px;
}
.down_mask .wrap .left .indiv .inpbox .tl {
  text-align: right;
  width: 88px;
  padding-right: 11px;
  font-size: 16px;
  float: left;
  line-height: 38px;
}
.down_mask .wrap .left .indiv .inpbox input {
  width: 292px;
  float: left;
  height: 38px;
  border: solid 1px rgba(0, 0, 0, 0.33);
  background: none;
  padding: 0 10px;
}
.down_mask .wrap .left .indiv .subbtn {
  width: 107px;
  height: 38px;
  background-color: #4c8efe;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  text-align: center;
  line-height: 38px;
  color: #fff;
  margin: 0 auto;
}
.actdown {
  top: 0;
}
.actdown .wrap {
  top: 50%;
}
@media (max-width: 768px) {
  .bk {
    padding-top: 40px;
  }
  .bk .tl {
    font-size: 16px;
    margin-bottom: 14px;
  }
  .bk .text {
    font-size: 14px;
  }
  .ser_a .wrap {
    padding-bottom: 60px;
  }
  .ser_a .div_1 .tpbox .divtl {
    float: none;
    margin-bottom: 20px;
  }
  .ser_a .div_1 .tpbox .btnbox {
    float: none;
  }
  .ser_a .div_1 .tpbox .btnbox .btn {
    font-size: 14px;
  }
  .ser_a .div_1 .imgbox1 {
    display: block;
  }
  .ser_a .div_1 .imgbox1 .img {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .ser_a .div_1 .imgbox1 .img:last-child {
    margin-bottom: 0;
  }
  .ser_a .div_1 .infotext {
    padding-left: 0;
  }
  .ser_a .div_2 .thistlbox {
    margin: 40px 0 30px;
  }
  .ser_a .div_3 .thistlbox,
  .ser_a .div_4 .thistlbox,
  .ser_a .div_5 .thistlbox,
  .ser_a .div_6 .thistlbox {
    margin: 40px 0;
  }
  .down_mask .wrap .left {
    width: 100%;
    padding-right: 0;
  }
  .down_mask .wrap .left .tlbox {
    line-height: 24px;
    padding: 20px;
    font-size: 14px;
  }
  .down_mask .wrap .left .indiv {
    width: 100%;
  }
  .ser_b .wrap {
    padding-bottom: 60px;
  }
  .ser_b .div_1 .serlist .serli {
    width: 100%;
    float: none;
    margin: 20px 0 0 0;
  }
  .ser_b .div_1 .serlist .serli:nth-child(2),
  .ser_b .div_1 .serlist .serli:nth-child(3) {
    margin-top: 20px;
  }
  .ser_b .div_1 .show {
    font-size: 14px;
    line-height: 60px;
    height: 60px;
  }
  .ser_b .div_1 .prolist2 .proli {
    line-height: 44px;
    height: 44px;
    font-size: 14px;
  }
  .ser_c .div_1 {
    padding-bottom: 60px;
  }
  .ser_c .serlist2 .serli {
    width: 47.5%;
    margin: 5% 5% 0 0;
  }
  .ser_c .serlist2 .serli .textbox .title {
    font-size: 14px;
  }
  .ser_c .serlist2 .serli:nth-child(2n) {
    margin-right: 0;
  }
  .ser_d .wrap {
    padding-bottom: 60px;
  }
  .ser_d .div_1 .bk .table .left {
    width: 100%;
    float: none;
  }
  .ser_d .div_1 .bk .table .left .td {
    width: 33.3333%;
    float: left;
    line-height: 44px;
    padding: 0;
    text-align: center;
    font-size: 14px;
  }
  .ser_d .div_1 .bk .table .rt {
    width: 100%;
    float: none;
    position: static;
  }
  .ser_f .wrap {
    padding-bottom: 60px;
  }
  .ser_f .div_1 .bk .itlist .li {
    width: 47.5%;
    margin-right: 5%;
    margin-bottom: 5%;
  }
  .ser_f .div_1 .bk .itlist .li:nth-child(2n) {
    margin-right: 0;
  }
  .ser_g .wrap {
    padding-bottom: 60px;
  }
  .ser_g .prolist .proli {
    width: 47.5%;
    margin-right: 5%;
    margin-bottom: 5%;
  }
  .ser_g .prolist .proli:nth-child(2n) {
    margin-right: 0;
  }
  .ser_g .infoimg {
    padding: 20px;
  }
  .ser_g .infoimg .text {
    font-size: 14px;
  }
  .ser_h .div_1 .downcenter .downlist {
    padding: 0 10px;
  }
  .ser_h .div_1 .downcenter .downlist .downli {
    padding: 10px 0;
    font-size: 14px;
    line-height: 24px;
  }
  .ser_h .div_1 .downcenter .downlist .downli .lte {
    font-size: 14px;
  }
  .ser_h .div_2 .msgbox {
    padding-left: 0;
  }
  .ser_h .div_2 .left {
    width: 100%;
  }
  .ser_h .div_2 .left .inpbox1 .inp:first-child {
    width: 100%;
    margin-bottom: 20px;
  }
  .ser_h .div_2 .left .inpbox1 .inp:nth-child(2) {
    width: 100%;
  }
  .ser_h .div_2 .rt {
    display: none;
  }
  .ser_h .div_3 {
    padding-bottom: 60px;
  }
  .ser_h .div_3 .faqbox {
    padding-left: 0;
  }
  .ser_h .div_3 .faqbox .faqli .tp {
    font-size: 14px;
  }
}
