<header class="fadeInRight wow">
    <div class="headwrap clearfix">
        <a href="index.html" class="logobox"><img src="images/logo.png" alt=""></a>
        <a href="tel:+" class="tel-btn wow fadeInDown" data-wow-delay="500ms">
        </a>
        <ul class="navbox">
            <li class="navli">
                <a href="index.html" class="navTl">
                    <span class="cn">首页</span>
                </a>
            </li>
            <li class="navli">
                <a href="about.html" class="navTl">
                    <span class="cn">公司概况</span>
                </a>
                <div class="subox">
                    <a href="about.html#a1" class="te">公司简介</a>
                    <a href="about.html#a2" class="te">企业文化</a>
                    <a href="about.html#a3" class="te">发展历程</a>
                    <a href="about.html#a4" class="te">荣誉资质</a>
                </div>
            </li>
            <li class="navli">
                <a href="retail.html" class="navTl">
                    <span class="cn">服务业务</span>
                </a>
                <div class="subox">
                    <a href="retail.html">零售业IT解决方案</a>
                    <a href="base.html">IT基础设施</a>
                    <a href="defend.html">业务系统运营/维护</a>
                    <a href="newretail.html">零售业新店IT支持</a>
                    <a href="retailsale.html">零售业系统软件销售</a>
                    <a href="itsale.html">IT设备销售</a>
                </div>
            </li>
            <li class="navli">
                <a href="sass-service.html" class="navTl">
                    <span class="cn">SAAS服务</span>
                </a>
                <div class="subox">
                    <a href="sass-service.html">SAAS服务</a>
                    <a href="service.html#a1">下载中心</a>
                    <a href="service.html#a2">在线留言</a>
                    <a href="service.html#a3">FAQ问答</a>
                </div>
            </li>
            <li class="navli">
                <a href="partner.html" class="navTl">
                    <span class="cn">解决方案展示</span>
                </a>
                <div class="subox">
                    <a href="partner.html#a1">大客户展示</a>
                    <a href="partner.html#a2">合作伙伴</a>
                </div>
            </li>
            <li class="navli">
                <a href="news.html" class="navTl">
                    <span class="cn">新闻资讯</span>
                </a>
            </li>
            <li class="navli">
                <a href="contact.html" class="navTl">
                    <span class="cn">联系我们</span>
                </a>
                <div class="subox">
                    <a href="contact.html#a1">联系我们</a>
                    <a href="contact.html#a2">人才招聘</a>
                </div>
            </li>
        </ul>
    </div>
</header>
<div class="leg"></div>
<div class="mohead clearfix">
    <a class="logoBox" href="index.html">
        <img src="images/logo.png" /></a>
    <div class="menu">
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div class="maskout">
    <img src="images/close.png" />
</div>
<ul class="menu_sub">
    <li>
        <div class="subTitle bignav">
            <a href="index.html">首页</a>
        </div>
    </li>
    <li>
        <div class="subTitle">公司概况</div>
        <div class="subbox">
            <a href="about.html#a1" class="te">公司简介</a>
            <a href="about.html#a2" class="te">企业文化</a>
            <a href="about.html#a3" class="te">发展历程</a>
            <a href="about.html#a4" class="te">荣誉资质</a>
        </div>
    </li>
    <li>
        <div class="subTitle">服务业务</div>
        <div class="subbox">
            <a href="retail.html">零售业IT解决方案</a>
            <a href="base.html">IT基础设施</a>
            <a href="defend.html">业务系统运营/维护</a>
            <a href="newretail.html">零售业新店IT支持</a>
            <a href="retailsale.html">零售业系统软件销售</a>
            <a href="itsale.html">IT设备销售</a>
        </div>
    </li>
    <li>
        <div class="subTitle">SAAS服务</div>
        <div class="subbox">
            <a href="sass-service.html">SAAS服务</a>
            <a href="service.html#a1">下载中心</a>
            <a href="service.html#a2">在线留言</a>
            <a href="service.html#a3">FAQ问答</a>
        </div>
    </li>
    <li>
        <div class="subTitle">解决方案展示</div>
        <div class="subbox">
            <a href="partner.html#a1">大客户展示</a>
            <a href="partner.html#a2">合作伙伴</a>
        </div>
    </li>
    <li>
        <div class="subTitle bignav">新闻资讯</div>
    </li>
    <li>
        <div class="subTitle">联系我们</div>
        <div class="subbox">
            <a href="contact.html#a1">联系我们</a>
            <a href="contact.html#a2">人才招聘</a>
        </div>
    </li>
</ul>

<footer>
    <div class="wrap ">
        <div class="top clearfix">
            <div class="lt">
                <a href="index.html" class="ftlogo">
                    <img src="images/ftlogo.png" alt="">
                </a>
                <div class="enjoybox">
                    <a href="" class="wx enbtn hoverbtn">
                        <img src="images/enjoy_01.png" class="nor" alt="">
                        <img src="images/enjoy_01_m.png" class="act" alt="">
                    </a>
                    <a href="" class="wx enbtn hoverbtn">
                        <img src="images/enjoy_02.png" class="nor" alt="">
                        <img src="images/enjoy_02_m.png" class="act" alt="">
                    </a>
                    <a href="" class="wx enbtn hoverbtn">
                        <img src="images/enjoy_03.png" class="nor" alt="">
                        <img src="images/enjoy_03_m.png" class="act" alt="">
                    </a>
                </div>

                <div class="ewmbox">
                    <img src="images/ewm.png" alt="">
                </div>
            </div>

            <div class="rt">
                <ul class="fnavbox clearfix">
                    <li>
                        <a href="about.html" class="tl">公司概况</a>
                        <a href="about.html#a1" class="te">公司简介</a>
                        <a href="about.html#a2" class="te">企业文化</a>
                        <a href="about.html#a3" class="te">发展历程</a>
                        <a href="about.html#a4" class="te">荣誉资质</a>
                    </li>
                    <li>
                        <a href="retail.html" class="tl">服务业务</a>
                        <a href="retail.html" class="te">零售业IT解决方案</a>
                        <a href="base.html" class="te">IT基础设施</a>
                        <a href="defend.html" class="te">业务系统运营/维护</a>
                        <a href="newretail.html" class="te">零售业新店IT支持</a>
                        <a href="retailsale.html" class="te">零售业系统软件销售</a>
                        <a href="itsale.html" class="te">IT设备销售</a>
                    </li>
                    <li>
                        <a href="sass-service.html" class="tl">SAAS服务</a>
                        <a href="sass-service.html" class="te">SAAS服务</a>
                        <a href="service.html#a1" class="te">下载中心</a>
                        <a href="service.html#a2" class="te">在线留言</a>
                        <a href="service.html#a3" class="te">FAQ问答</a>
                    </li>
                    <li>
                        <a href="partner.html" class="tl">解决方案展示</a>
                        <a href="patner.html#a1" class="te">大客户展示</a>
                        <a href="patner.html#a2" class="te">合作伙伴</a>
                    </li>
                    <li>
                        <a href="news.html" class="tl">新闻资讯</a>
                        <a href="news.html" class="te">风采展示</a>
                    </li>
                    <li>
                        <a href="contact.html" class="tl">联系我们</a>
                        <a href="contact.html#a1" class="te">联系我们</a>
                        <a href="contact.html#a2" class="te">人才招聘</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="bottom">
            <span>Copyright © 2009-2019 Vinx China Co.,Ltd. All Rights Reserved&nbsp;&nbsp;&nbsp;&nbsp;浙ICP
                10021893号</span>
            <a href="http://www.68team.com" target="_blank" rel="noopener noreferrer">网站建设：翰臣科技</a>
        </div>
    </div>
</footer>